<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLE365</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
    <div class="white-bg" style="margin-top:10px;">
      <div class="qt-box">
        <div>
            <h2 class="words-title"><%= result.words_title %></h2>
        </div>
        <br>
        <div class="main-box">
            <h3>본문의 중심내용</h3>
            <p class="words-main"> <%= result.words_main %> </p>
            <p class="words-text"> <%= result.words_text %> </p>
        </div>
        <br>
        <div>
            <h3><%= result.words_check %></h3>
            <p class="words-who"> <%= result.words_who %> </p>
        </div>
        <br>
        <div>
            <h3><%= result.words_check2 %></h3>
            <p class="words-lesson"> <%= result.words_lesson %> </p>
        </div>
        <br>
        <div>
            <h3>기도</h3>
            <p class="words-pray"> <%= result.words_pray %> </p>
        </div>
      </div>
    </div> 
    <% if(!myqt){ %>
        <form class="form-box" action="/post/mind" method="POST">
            <h4>오늘의 묵상</h4>
            <input name="title" value="<%= result.words_title %>" type="hidden">
            <input name="date" value="<%= result.date %>" type="hidden">
            <input name="words_id" value="<%= result._id %>" type="hidden">
            <input name="givewords" type="text" placeholder="주신 말씀 ex) 신명기 20장 1절-4절" minlength="3"required>
            <textarea name="pray" placeholder="받은 마음 & 나의 기도제목" style="width: 100%; height: 200px;" required></textarea>
            <button class="btn btn-primary" type="submit">확인</button>
        </form> 
    <% } %>
    
</body>

<script>
    // let main = document.getElementsByClassName("words-main")[0].innerText
    // //main = main.replace(/\./g,'.\n')
    // main = main.replace('[', '\n[')
    // document.getElementsByClassName("words-main")[0].innerText = main

    let text = document.getElementsByClassName("words-text")[0].innerText
    text = text.replace(/(\d+\.)/g, "\n$1")
    text = text.replace('\n', '')
    document.getElementsByClassName("words-text")[0].innerText = text


    let who = document.getElementsByClassName("words-who")[0].innerText
    who = who.replace(/\./g,'.\n');
    document.getElementsByClassName("words-who")[0].innerText = 
    who

    let lesson = document.getElementsByClassName("words-lesson")[0].innerText
    lesson = lesson.replace(/\./g,'.\n');
    document.getElementsByClassName("words-lesson")[0].innerText = lesson

    let pray = document.getElementsByClassName("words-pray")[0].innerText
    pray = pray.replace(/\./g,'.\n');
    document.getElementsByClassName("words-pray")[0].innerText = pray

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</html>